<form action="post" id="new-user">
  <label for="name">Username</label> <br>
  <input type="text" name="name" placeholder="Username"> <br>
  <input type="password" name="password" placeholder="Enter a password"> <br>
  <input type="password" name="confirm" placeholder="Confirm password"> <br>
  <button type="submit">Submit</button>
</form>

<ul id="user-list">
  {{#each users}}

  <a href="/users/{{this.id}}"><li>{{this.name}}</li></a>
  {{/each}}
</ul>