<div class="container">
    <div class="login-container col-sm-6 col-sm-offset-3">
      <div id="output"></div>
      <div class="avatar"></div>
      <div class="form-box">
        <form id="login-form">
          <input name="name" type="text" placeholder="username">
          <input name="password" type="password" placeholder="password">
          <button class="btn btn-info btn-block login" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>  